body{
    background-color: #eff7a7
}
button{
    width:120px;
    height:25px;
    border-radius: 6px;
    background-color: red;
    color:white;
    margin:3px;
}
button:hover{
    cursor: pointer;
    background-color:rgb(245, 109, 109);
}
.nani{
    border:2px solid black;
    padding:4px;
    text-align: left;
    width: 530px;
    background-color: white;
    
}
h2{
    background-color:red;
    color:white;
    text-align: center;
}

.ab{
    font-weight: bolder;
}
table, td, th{
    border:2px solid black;
    border-collapse: collapse;
}
th,td{
    padding:20px;
}
h3{
    margin-left:230px;
}